body
{
    display: flex;
    background-color: #0b0c10;

    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
    scrollbar-width: none;
}


.sidebar {
    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;

    width: 250px;
    height: 100vh;

    background: #202833;
    color: white;
    font-family: "Heebo", system-ui;

    overflow-y: scroll;

    padding-top: 20px;

    transition: 0.3s;
}

.sidebar a {
    display: block;
    
    text-decoration: none;
    text-align: right;
    white-space: nowrap;
    color: white;

    padding: 15px;

    transition: 0.3s;
}

#Disconnect {
    display: inline;
    align-self: center;

    border-radius: 50px;

    width: min-content;

    margin-top: auto;
    margin-bottom: 40px;
}

a img {
    vertical-align: middle;
    margin-left: 8px;
    color: #09bfca;
}

.sidebar a:hover {
    background: #323f52;
}

.content {
    position: relative;

    display: flex;
    flex-direction: column;

    margin-left: 250px;

    /* padding: 20px; */
    flex-grow: 1;
}

#Header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 20px;
}

#Headertxt {
    margin-right: 20px;

    font-size: 20px;
    font-weight: 900;
    color: #09bfca;
    white-space: nowrap;
}

#sidebarimg {
    height: 75px;
}

#CurrectPage {
    border-right: 5px solid #09bfca;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.5);
}

.Title1 {
    color: #09bfca;
    font-family: "Heebo", system-ui;
    font-weight: 900;
    font-size: 50px;
}

.TextInput {
    font-family: "Heebo", system-ui;
    color: #f5f5f5;
    text-align: right;
    background-color: #202833;
    font-size: 15px;
    border: none;
    border-radius: 20px;

    padding: 10px 15px;
    margin-bottom: 30px;

    width: 100%;

    resize: none;

    transition: background-color 0.3s;
}

.TextInput:focus {
    outline: none;
    
    background-color: #293342;
}

.Reg_Ask {
    font-family: "Heebo", system-ui;
    color: #f5f5f5;
    text-align: center;
    font-size: 20px;

    display: flex;
    justify-content: flex-start;

    margin-bottom: 10px;
}

/* Profile Page */
#avatar {
    height: 60px;
    border-radius: 100px;
    margin-left: 10px;
}

#TopProfile {
    position: relative;

    display: flex;
    align-items: center;
    width: min-content;
    height: min-content;

    background-color: #202833;
    font-family: "Heebo", system-ui;
    font-weight: 500;
    border-radius: 75px;

    padding: 10px;
    padding-left: 30px;
}

#Text_Right {
    display: flex;
    flex-direction: column;
}

#RankImg {
    position: absolute;
    right: 0;
    top: 50%;
    width: 45px;
    transform: rotate(-20deg) translateX(-50%) translateY(-50%);

    align-self: center;
    height: min-content;
}

#ProfileProgress {
    align-self: center;

    margin-top: 10px;

    height: 5px;
    width: 100px;
}

.TopTest {
    font-size: 15px;
    color: #f5f5f5;
    text-align: center;

    white-space: nowrap;

    margin: 0;
}

#Role {
    font-weight: 200;
}

#ProfileDataBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ProfileBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin-top: 50px;

    width: 28%;
    height: 700px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#ProfileDataBoxMiddle {
    border-right: 2px solid #09bfca;
    border-left: 2px solid #09bfca;

    width: 35%;
}

.ProfileTitle {
    align-self: center;
    text-align: center;

    margin-right: 5px;
    margin-left: 5px;
}

.CloseEventBox {
    display: flex;
    flex-direction: column;

    align-self: center;
    width: 85%;
    height: 150px;

    padding: 15px;
    margin-bottom: 15px;

    border-radius: 20px;

    background-color: #202732;
}

.CE_Contex {
    font-family: "Heebo", system-ui;
    color: #f5f5f5;

    margin: 0;
    margin-bottom: 5px;
}

.CE_Title {
    align-self: center;
    color: #09bfca;
    font-size: 25px;

    font-weight: 700;
}

/* Events Page */
#EventsBox {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    margin-top: 50px;
    margin-bottom: 30px;
    padding-bottom: 80px;

    height: auto;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: 50px;
    grid-auto-rows: 100px;
    gap: 2px;
    background-color: #151a22;

    padding: 2px;
}

.c_header {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #202732;
    color: #09bfca;
    font-size: 20px;
    text-align: center;
    font-family: "Heebo", system-ui;
    font-weight: 800;
}

.c_contact {
    position: relative;
    background-color: #293342;
    color: #f5f5f5;

    font-family: "Heebo", system-ui;
    font-weight: 700;
    font-size: 20px;
    padding: 5px;

    overflow-y: scroll;
    overflow-x: hidden;
    
    transition: background-color 0.3s;
}

.c_btn:hover {
    background-color: #323f52;
}

.c_dark {
    color: #ababab8f;
}

.currect_div {
    color: #09bfca;

    border-bottom: 2px solid #09bfca;
}

#Details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 400px;
    height: 100%;
    max-height: 715px;

    background-color: #151a22;
    border-radius: 10px;
    font-family: "Heebo", system-ui;
    color: #f5f5f5;

    margin-right: 20px;
    padding-right: 10px;
    padding-left: 10px;

    overflow-y: auto;
    overflow-x: hidden;
}

.D_Title {
    align-self: center;
    text-align: center;

    color: #09bfca;
}

.D_Contex {
    display: flex;
    align-items: center;
    
    margin-bottom: 2px;
}

.DS_Title {
    width: 100%;
    border-block-start:2px solid;

    padding-top: 20px;
}

.C_Title {
    color: #09bfca;
    font-family: "Heebo", system-ui;
    font-weight: 900;

    margin: 0;
    margin-right: 20px;
    margin-left: 20px;
}

#Cal_header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cal_Btn {
    background-color: #202833;
    color: #09bfca;
    font-size: 15px;

    border: none;
    border-radius: 5px;
    padding: 0;

    height: 30px;
    width: 40px;
}

.Event {
    position: relative;
    left: 50%;
    transform: translateX(-45%);
    
    width: 100%;
    height: fit-content;
    color: #f5f5f5;

    font-size: 10px;
    background-color: #202732;
    
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 4px;

    margin: 0 auto;
    margin-bottom: 2px;
}

.PlusBtn {
    position: fixed;
    bottom: 5%;
    align-self: center;

    background-color: #202833;
    color: #09bfca;
    font-size: 35px;

    border: none;
    border-radius: 50px;

    width: 75px;
    height: 75px;

    transition: background-color 0.3s;
}

.PlusBtn:hover {
    background-color: #2b3544;
}

/* Create Form Page */
#CreateEventForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    align-self: center;

    width: 500px;
}

#CE_Title {
    color: #09bfca;
    font-family: "Heebo", system-ui;

    align-self: center;
}

.Reg_Ask {
    font-family: "Heebo", system-ui;
    color: #f5f5f5;
    text-align: center;
    font-size: 20px;

    display: flex;
    justify-content: flex-start;

    margin-bottom: 10px;
}

.ReqTxt {
    color: #09bfca;
    margin-right: 5px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.Button {
    align-self: center;

    font-family: "Heebo", system-ui;
    font-weight: 700;
    background-color: #202833;
    color: #0ff0fc;
    font-size: 20px;
    border-radius: 50px;
    border: none;
    outline: none;

    width: 125px;
    height: 75px;

    margin-bottom: 100px;
    margin-top: 50px;

    transition: background-color, 0.3s;
}

.Button:hover {
    background-color: #27303e;
}

.Space {
    margin-bottom: 25px;
}

.YN_Box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

    width: 100%;
}

.YN_Btn {
    border: none;

    font-family: "Heebo", system-ui;
    font-weight: 600;
    font-size: 14px;
    background-color: #202732;
    color: #09bfca;

    border-radius: 50px;

    height: 50px;
    width: 85px;

    margin-top: 15px;

    transition: background-color 0.3s;
}

.YN_Btn:hover {
    background-color: #2b3544;
}

.ProgressBar {
    border-radius: 20px;

    width: 75%;
    min-height: 15px;
}

.ProgressProfile {
    border-radius: 20px;

    width: 75%;
    min-height: 15px;
}

.ProgressBar::-webkit-progress-bar {
    background-color: #323f52;
    border-radius: 10px; 
}

.ProgressProfile::-webkit-progress-bar {
    background-color: #323f52;
    border-radius: 10px;
    height: 5px;
}
  
progress::-webkit-progress-value {
    background-color: #09bfca;
    border-radius: 10px;
}
  
progress::-moz-progress-bar {
    background-color: #09bfca;
    border-radius: 10px;
}

.TeamImg {
    height: 25px;
    border-radius: 20px;
    
    margin-left: 10px;
}

#LoadingContent {
    position: absolute;

    display: none;
    justify-content: center;
    align-items: center;

    font-size: 75px;

    width: 100%;
    height: 100%;

    font-family: "Heebo", system-ui;
    font-weight: 900;

    color: #09bfca;

    background-color: #0e11197b;

    z-index: 1000;
}

/* AlertBox */
#AlertBox {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;

    font-family: "Heebo", system-ui;
    color: #f5f5f5;
    border-radius: 20px;

    height: 150px;
    width: 300px;

    opacity: 0;

    padding: 20px 20px;

    background-color: rgb(6, 8, 12);

    transition: all 0.3s;

    z-index: 10000;
}

#AlertTitle {
    display: flex;
    align-items: center;
    align-self: center;

    font-size: 25px;
}

#AlertImg {
    height: 30px;

    margin-right: 10px;
    margin-bottom: 0;
}

#AlertDescription {
    margin-top: 10px;
}

.AddonHeader {
    margin-bottom: 10px;
}

#Profile {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-right: 20px;
    padding-top: 20px;
}

#reload-profile {
    height: 45px;
    width: 45px;
    
    align-self: center;
    background-color: #202833;

    padding: 10px 10px;

    border-radius: 50px;
    border: none;

    margin-right: 10px;

    transition: all 0.3s;
}

#reload-profile:hover {
    background-color: #232c39;
}

#Reload-img {
    height: 20px;

    border: none;
}

.ProfileData {
    font-family: "Heebo", system-ui;
    color: #f5f5f5;

    margin: 0;
    margin-bottom: 15px;
}

.ProfileTitleData {
    font-family: "Heebo", system-ui;
    font-weight: 800;
    font-size: 20px;
    color: #09bfca;
        

    margin: 0;
    margin-bottom: 5px;
}

#ProfileCard {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #11151b;
    padding: 25px;

    border-radius: 20px;
}

#ProfileImg {
    position: absolute;
    left: 25px;
    top: 25px;

    height: 125px;

    border-radius: 10px;
}

#ActiveImg {
    position: absolute;
    left: 125px;
    top: 125px;

    height: 50px;

    z-index: 5;
}