RewriteEngine On

# הפניה אוטומטית אם המשתמש נכנס עם .html
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\.html\ HTTP/
RewriteRule ^(.*)\.html$ /$1 [R=301,L]

# חיפוש קובץ עם .html אם המשתמש לא כתב את הסיומת
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]
