body
{
    background-color: #0b0c10;

    margin-top: 150px;
    
    
}

#Header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;

    max-height: 200px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    background-color: #202833;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 40px;

    box-sizing: border-box;

    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
}

@media screen and (max-width: 870px) {
    body {
        margin-top: 250px;
    }

    #Header {
        justify-content: center;
    }
}

#TopImg {
    height: 100px;
}

#H_Left {
    display: flex;
    align-items: center;
}

#H_Middle {
    overflow-x: auto;
    white-space: nowrap;
}

.H_Buttons {
    position: relative;
    display: inline-block;

    font-family: "Heebo", system-ui;
    color: #b2b2b2;
    font-size: 20px;
    text-decoration: none;
    
    margin-left: 15px;

    transition: color 0.3s, text-decoration 0.3s;
}

.H_Buttons::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px; 
    background-color: #f5f5f5;
    transition: width 0.3s ease, left 0.3s ease;
}

.H_Buttons:hover::before {
    width: 100%;
    left: 0;
    color: #f5f5f5;
}

.H_Buttons:hover {
    color: #f5f5f5;
}

.HM_Buttons {
    margin-left: 30px;
}

#Divider {
    font-family: "Heebo", system-ui;
    color: #f5f5f5;

    margin-left: 15px;
}

/* Start */

#Start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MainTitle {
    font-family: "Heebo", system-ui;
    color: #09bfca;
    font-weight: 900;
    font-size: 50px;
    text-align: center;

    margin-bottom: 0;
    margin-top: 5px;
}

.SubTitle {
    font-family: "Heebo", system-ui;
    color: #f5f5f5;
    font-weight: 900;
    font-size: 50px;
    text-align: center;

    margin-bottom: 0;
    margin-top: 5px;
    margin-bottom: 50px;
}

#SubBox_1 {
    display: flex;
    justify-content: center;
}

.SubBoxText {
    font-family: "Heebo", system-ui;
    color: #f5f5f5;
    text-align: center;

    max-width: 150ch;
}

#VideoBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    margin-top: 50px;
}

#Video {
    width: 960px;
}

@media screen and (max-width: 980px) {
    #Video {
        width: 80vw;
    }
}

#VideoTitle {
    margin-bottom: 20px;
    font-size: 40px;
}

#YoutubeLink {
    color: #09bfca;
    text-decoration: none;

    transition: color 0.3s;
}

#YoutubeLink:hover {
    color: #0ff0fc;
}