body
{
    background-color: #0b0c10;

    margin-top: 150px;
}

.fade-out {
    animation: fadeOut 0.3s forwards;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0.5; }
}

#Header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;

    max-height: 200px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    background-color: #202833;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 40px;

    box-sizing: border-box;

    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
}

@media screen and (max-width: 870px) {
    body {
        margin-top: 250px;
    }

    #Header {
        justify-content: center;
    }
}

#TopImg {
    height: 100px;
}

#H_Left {
    display: flex;
    align-items: center;
}

#H_Middle {
    overflow-x: auto;
    white-space: nowrap;
}

.H_Buttons {
    position: relative;
    display: inline-block;

    font-family: "Heebo", system-ui;
    color: #b2b2b2;
    font-size: 20px;
    text-decoration: none;
    
    margin-left: 15px;

    transition: color 0.3s, text-decoration 0.3s;
}

.H_Buttons::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px; 
    background-color: #f5f5f5;
    transition: width 0.3s ease, left 0.3s ease;
}

.H_Buttons:hover::before {
    width: 100%;
    left: 0;
    color: #f5f5f5;
}

.H_Buttons:hover {
    color: #f5f5f5;
}

.HM_Buttons {
    margin-left: 30px;
}

#Divider {
    font-family: "Heebo", system-ui;
    color: #f5f5f5;

    margin-left: 15px;
}

/* Start */

#Start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MainTitle {
    font-family: "Heebo", system-ui;
    color: #09bfca;
    font-weight: 900;
    font-size: 50px;
    text-align: center;

    margin-bottom: 0;
    margin-top: 5px;
}

.SubTitle {
    font-family: "Heebo", system-ui;
    color: #f5f5f5;
    font-weight: 900;
    font-size: 50px;
    text-align: center;

    margin-bottom: 0;
    margin-top: 5px;
    margin-bottom: 50px;
}

#SubBox_1 {
    display: flex;
    justify-content: center;
}

.SubBoxText {
    font-family: "Heebo", system-ui;
    color: #f5f5f5;
    text-align: center;

    max-width: 150ch;
}

#VideoBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    margin-top: 50px;
}

#Video {
    width: 960px;
}

@media screen and (max-width: 980px) {
    #Video {
        width: 80vw;
    }
}

#VideoTitle {
    margin-bottom: 20px;
    font-size: 40px;
}

#YoutubeLink {
    color: #09bfca;
    text-decoration: none;

    transition: color 0.3s;
}

#YoutubeLink:hover {
    color: #0ff0fc;
}

/* Register Page */
#Reg_Title {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 500px;
    margin: 0 auto;
}

.Reg_Ask {
    font-family: "Heebo", system-ui;
    color: #f5f5f5;
    text-align: center;
    font-size: 20px;

    display: flex;
    justify-content: flex-start;

    margin-bottom: 10px;
}

#Reg_MainTitle {
    margin-bottom: 20px;
}

.TextInput {
    font-family: "Heebo", system-ui;
    color: #f5f5f5;
    text-align: right;
    background-color: #202833;
    font-size: 15px;
    border: none;
    border-radius: 20px;

    padding: 10px 15px;
    margin-bottom: 30px;

    transition: background-color 0.3s;
}

.TextInput:focus {
    outline: none;
    
    background-color: #293342;
}

.ReqTxt {
    color: #09bfca;
    margin-right: 5px;
}

.Checkbox {
    appearance: none;

    align-self: center;

    background-color: #202833;
    border-radius: 5px;

    width: 30px;
    height: 30px;

    margin-bottom: 0;

    transition: all 0.3s;
}

.Checkbox:checked {
    background-color: #293342;
}

.Checkbox:checked::after {
    content: "✔";
    font-size: 18px;
    color: #0ff0fc;
    position: relative;
    left: 25%;
    top: 10%;
    transform: translateX(-50%) translateY(-50%);
}

#previous_clans {
    resize: none;
    height: 100px;
}

#clan_issues {
    resize: none;
    height: 100px;
}

#join_reason {
    resize: none;
    height: 100px;    
}

.Button {
    align-self: center;

    font-family: "Heebo", system-ui;
    font-weight: 700;
    background-color: #202833;
    color: #0ff0fc;
    font-size: 20px;
    border-radius: 50px;
    border: none;
    outline: none;

    width: 125px;
    height: 75px;

    margin-bottom: 100px;
    margin-top: 50px;

    transition: background-color, 0.3s;
}

.Button:hover {
    background-color: #293342;
}

.RadioBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;

    font-family: "Heebo", system-ui;
    color: #f5f5f5;

    margin-bottom: 30px;
}

.CheckboxTxt {
    margin-left: 20px;
}

/* About Page */
.AboutB {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-top: 100px;
    padding-right: 50px;
    padding-left: 50px;

}

#AboutSubT {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    font-weight: 300;
    

    text-align: center;
    max-width: 50ch;

    padding: 0 0;

    z-index: -1;
}

.AboutTitle {
    font-family: "Heebo", system-ui;
    color: #09bfca;
    font-weight: 700;
    font-size: 50px;

    margin-top: 0;
    margin-bottom: 15px;
    
} 
.AboutTxt {
    font-family: "Heebo", system-ui;
    color: #f5f5f5;
    font-weight: 500;
    font-size: 20px;
    max-width: 50ch;

    margin-top: 5px;
    padding-left: 25px;
}

.AboutB_T {
    
    text-align: right;
}

.AboutPics {
    width: 45vw;

    opacity: 0.75;
    z-index: -5;

    clip-path: polygon(0% 0%, 80% 0%, 100% 20%, 100% 100%, 20% 100%, 0% 80%);
}

#AboutFlip {
    justify-content: flex-end;
}
#PicFlip {
    margin-left: 50px;
}

@media screen and (max-width: 1329px) {
    .AboutB {
        justify-content: center;
    }
    .AboutB_T {
        text-align: center;

        margin-bottom: 50px;
    }
    .AboutTxt {
        padding:  0 0;
    }

    .AboutPics {
        margin: 0 0;
        min-width: 600px;
    }

    #AboutFlip {
        justify-content: center;
    }

    #PicFlip {
        margin-left: 0;
    }
}

@media screen and (max-width: 835px) 
{
    .AboutPics {
        min-width: 350px;
        margin: 0 0;
    }

    #PicFlip {
        margin-left: 0;
    }
}

/* Login Page */
#LoginBox {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    width: 500px;
    margin: 0 auto;
}