body
{
    display: block;
    background-color: rgb(11, 12, 16);

    max-width: 1200px;
    margin: 0 auto; /* מרכז את התוכן */
    padding: 10px;
}

#TopBar {
    position: relative;
    left: 50%;
    translate: -50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    background-color: rgb(32, 40, 51);
    border-radius: 0.75rem;
    padding: 5px 5px;
}

#TopImg {
    height: 5rem;
    margin-left: 5px;
}


#Left {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
}
#Right {
    flex-wrap: nowrap;
}

.TopButtons {
    background-color: rgb(9, 191, 202);
    color: white;
    border: 0;
    border-radius: 0.75rem;
    margin-right: 10px;
    padding: 10px 15px;
    font-size: 100%;
    font-family: "Heebo", system-ui;
    box-shadow: 0px 0px -2px rgba(0, 0, 0, 1);

    transition: color box-shadow;
    transition-duration: 700ms;
}

.TopButtons:hover {
    color: rgb(180, 255, 237);
    box-shadow: 0px 0px 10px rgba(9, 191, 202, 0.35);
}

#Title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Title1 {
    color: rgb(9, 191, 202);
    font-family: "Heebo", system-ui;
    font-weight: 900;
    font-size: clamp(2em, 5vw, 7rem);
    
}

.Title3 {
    color: rgb(9, 191, 202);
    font-family: "Heebo", system-ui;
    font-weight: 900;
    font-size: 2.5em;
    margin-top: 20px;
}

/* Login Page */
#LoginBox {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(32, 40, 51);
    width: 500px;
    height: 500px;
}